* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.container { /* v stands for viewport */
    max-width: 100vw;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}

.bar_container {
    display: flex;
    flex-direction: row;
}

.bar {
    width: 30px;
    border: 2px solid white;
    margin: 0 2px;
}

.button_container {
    display: flex;
    flex-direction: row;
}

.button_sort {
    width: 30px;
    height: 30px;
    background-color: white;
    border-color:white;
}

